.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#title{
  margin-top: 0%;
  height: 100px;
  background-color: lightgray;
}

/* Styling for the articles wrapper div */
#articles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


/* Styling for the article thumbnails */
#articleContent{
  background-color:lightgray;
  margin: 5%;
  width: 35%;
}

#articleContent > img{
  width: 80%;
}

#articleContent > p{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Media query for mobile devices */
@media screen and (max-width: 770px) {
  #articles{
    width: 100%;
    padding: 0%;
  }

  #articleContent > img{
    width: 60%;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
